module {{.ModulePath}}

go 1.20

require github.com/Connorig/go-blackbox v1.20.0

require (
	github.com/glebarez/sqlite v1.11.0 // indirect
	github.com/kataras/iris/v12 v12.2.0 // indirect
	gorm.io/gorm v1.25.5 // indirect
)
